.brand {
  font-family: "Poppins";
}

.navbar-container {
  height: 3rem;
}
.brand {
  color: rgb(0, 212, 35);
}

.icon-navbar-right {
  cursor: pointer;
  color: #555;
  transition: all 0.3s ease-in-out;
}
.icon-navbar-right:hover {
  color: rgb(0, 212, 35);
}
